<div class="aboutpage">
  <h1>Rólam</h1>
  <p>Szeretettel köszöntelek az oldalon!</p>
  <p>
    Szenvedélyem a finom ételek és kézműves dolgok készítése, lehetőleg minél
    kreatívabb formában. Kiskorom óta életem része a rendszeres mozgás, 13 évig
    balettoztam, jelenleg többféle sportágban is igyekszem jelen lenni, illetve
    gyógytornász hallgató vagyok a Szegedi Tudományegyetemen.
  </p>
  <p>
    Remélem, amíg az oldalon nézelődsz, Te is kedvet kapsz az alkotáshoz, legyen
    szó egy egyszerű vagy egy bonyolultabb fogásról!
  </p>
  <p>Kálovics Veronika</p>
</div>
