html, body {
  background-color: rgb(184, 180, 225);
  height: 100%; /* Ensures the background color covers the full height */
  margin: 0; /* Removes any default margins */
  padding: 0;
}

.aboutpage {
    background-color: rgb(89, 255, 0);
    height: 100%; /* Ensures the background color covers the full height */
    margin: 0; /* Removes any default margins */
    padding: 0;
  }

  p {
    margin: 0;
  }

