.navbar-links {
  background-color: #ffffff;
  list-style: none; /* Remove bullets from the list */
}

/* Style the links */
.navbar-links a {
  display: block;
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.navbar-links a:hover {
  background-color: #f8f8f8;
  color: rgb(253, 164, 216);
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 20px;
  font-size: 20px;
}