/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

html, body {
    background-color: rgb(184, 180, 225);
    height: 100%; /* Ensures the background color covers the full height */
}