.homepage {
  background-color: rgb(255, 0, 43);
  height: 100%; /* Ensures the background color covers the full height */
  // background-color: rgba(255, 255, 255, 0.3); /* White color with 40% opacity */
  // background-blend-mode: lighten;
}

#profilePic {
  width: 100%;
  max-width: 500px;
  min-width: 400px;
}

.intro-flex-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  line-height: 25px;
  font-size: 18px;
  background-color: pink;
  padding: 0 30px;
  color: white;
}

.pic-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.pic-wrapper > * {
  flex-grow: 1;
}

.pic-wrapper > img {
  max-width: 250px;
}

// responsive design
@media screen and (max-width: 700px) {
  .intro-flex-wrapper {
    flex-wrap: wrap;
    padding: 20px 30px;
    gap: 10px;
  }

  #profilePic {
    min-width: 200px;
  }

  .pic-wrapper > img {
    max-width: 150px;
  }
}

#contact-wrapper {
  font-size: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

#contact-wrapper a {
  color: black;
}


#contact-wrapper a:hover {
  color: white;
}




.white-bg {
  background-color: white;
}
.lightpink-bg {
  background-color: rgba(255, 192, 203, 0.5); /* Pink color with 50% opacity */
}

.pd-10 {
  padding: 10px;
}
// padding top bot 10
.pd-10-tb {
  padding: 10px 0;
}
.centered-text {
  text-align: center;
}
