<div class="homepage">
  <div class="intro-flex-wrapper">
    <div class="intro-block">
      <img id="profilePic" src="../../assets/Images/vera.jpg" alt="pic" />
    </div>
    <div class="intro-block">
      <p class="centered-text">Szeretettel köszöntelek az oldalon!</p>
      <pre> </pre>      <!-- some space between the paragraphs -->
      <p>
        Szenvedélyem a finom ételek és kézműves dolgok készítése, lehetőleg
        minél kreatívabb formában. Kiskorom óta életem része a rendszeres
        mozgás, 13 évig balettoztam, jelenleg többféle sportágban is igyekszem
        jelen lenni, illetve gyógytornász hallgató vagyok a Szegedi
        Tudományegyetemen.
      </p>
      <p>
        Remélem, amíg az oldalon nézelődsz, Te is kedvet kapsz az alkotáshoz,
        legyen szó egy egyszerű vagy egy bonyolultabb fogásról!
      </p>
      <pre> </pre>      <!-- some space between the paragraphs -->
      <p class="centered-text">Kálovics Veronika</p>
    </div>
  </div>
  <div class="white-bg">
    <h1 class="centered-text pd-10-tb">Legújabb receptek</h1>
    <div class="pic-wrapper lightpink-bg">
      <img src="../../assets/Images/food/1.png" alt="pic" />
      <img src="../../assets/Images/food/2.png" alt="pic" />
      <img src="../../assets/Images/food/3.png" alt="pic" />
      <img src="../../assets/Images/food/4.png" alt="pic" />
    </div>

    <h1 class="centered-text pd-10-tb">Legújabb termékek</h1>
    <div class="pic-wrapper lightpink-bg">
      <img src="../../assets/Images/food/5.png" alt="pic" />
      <img src="../../assets/Images/food/6.png" alt="pic" />
      <img src="../../assets/Images/food/7.png" alt="pic" />
      <img src="../../assets/Images/food/8.png" alt="pic" />
    </div>
  </div>

  <div>
    <h1 class="centered-text white-bg pd-10-tb">Kapcsolat</h1>
    <div class="contact-wrapper pd-10-tb lightpink-bg" id="contact-wrapper">
      <a href="https://www.facebook.com/yourprofile" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/yourprofile" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://www.pinterest.com/yourprofile" target="_blank">
        <i class="fa fa-pinterest"></i>
      </a>
      <a href="mailto:example@example.com">
        <i class="fa fa-envelope"></i>
      </a>
    </div>
  </div>
</div>
