
  html, body {
    height: 100%; /* Ensures the background color covers the full height */
    margin: 0; /* Removes any default margins */
    padding: 0;
    
  }

.homepage {
    background-color: rgb(255, 0, 43);
    height: 100%; /* Ensures the background color covers the full height */
    margin: 0; /* Removes any default margins */
    padding: 0;
  }
  